{{define "base" -}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{- if ne $.DocumentTitle "" -}} {{$.DocumentTitle}} - {{- end -}}Bar's Blog</title>
  </head>

  <body>
    <header>
      <a href="/">← multiblog</a>
      <h1><a href="/blog/bar">Bar&rsquo;s Blog</a></h1>
    </header>

    <main role="main">
      {{- template "content" . -}}
    </main>
  </body>

</html>
{{- end}}
