{{define "content"}}
<h2>Welcome to my blog!</h2>

<section class="blog-archive">
  {{- range $month := .Archive }}
  <h3>{{$month.Title}}</h3>
  <ul>
    {{- range $post := $month.Posts}}
    <li>
      <a href="{{$post.URL}}">{{$post.Title}}</a>,
      <small>
        <time datetime="{{$post.Date.ISO}}">
          {{- $post.Date.Short}}<sup>{{$post.Date.Suffix}}</sup>
        </time>
      </small>
    </li>
    {{- end }}
  </ul>
  {{- end}}
</section>
{{end}}
